/* ==========================================================================
   Banner
   ========================================================================== */

.banner{
	position: relative;
	h1{
		margin: 3.4em 0 .8em;
		color: #fff;
		text-shadow: 2px 1px 1px rgba(0,0,0,.7);
	}
}
