/* ==========================================================================
   General page layout for site
   ========================================================================== */

.container{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	@media (max-width: $max-break-mobile-nav) {
		max-width: 660px;
	}
	@media (min-width: 1100px) {
		width: 1050px;
	}
	&:before, &:after {
	    content: ' ';
	    display: table;
	}
	&:after {
	    clear: both;
	}
	&.sm{
		@media (min-width: 700px) {
			width: 700px;
		}
	}
	&.lg{
		@media (min-width: 1100px) {
			width: 1050px;
		}
		@media (min-width: 1200px) {
			width: 1150px;
		}
		@media (min-width: 1300px) {
			width: 1250px;
		}
		@media (min-width: 1400px) {
			width: 1350px;
		}
	}
}

main{
	padding-bottom: 4em;
}

aside.sidebar{
	h3{
		margin: 3em 0 1em;
	}
}

.container{
	.main-content{
		width: 57%;
		float: left;
		@media (max-width: $max-break-mobile-nav) {
			width: 100%;
			float: none;
		}
	}
	.main-sidebar{
		width: 31%;
		float: right;
		@media (max-width: $max-break-mobile-nav) {
			width: 100%;
			float: none;
			border-top: 2px solid $border-color;
			margin-top: 4em;
		}
		.sidebar{
			@media (max-width: $max-break-mobile-nav) {
				max-width: 400px;
			}
		}
	}
}

