/* ==========================================================================
   Menu Specific Styles
   ========================================================================== */

.secondary-menu{
	a{
		display: block;
		margin: 30px 40px 0 0;
		padding-bottom: 5px;
		font-size: 14px;
		text-decoration: none;
		float: left;
		font-weight: 500;
		&.active, &:hover{
			border-bottom: 2px solid $link-color;
		}
	}
}

.tab-content{
	display: none;
	pointer-events: none;
	&.active{
		display: block;
	}
}